

  .modal {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

  }

  .modalBackground {
    width: 100%;
    height: 100vh;

    background-color: rgb(0, 0, 0, 0.1);
  }

  .modalBox {
    border: 2px solid #d5d5d5;
    border-radius: 15px;
    background: #fff;
    width: 300px;
    height: 300px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .closeModalBttn {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 30px;
    color: #d5d5d5;
  }

  .modal.hidden {
    display: none;
  }
