
#pagination {
	  width: calc(100% - 200px);
	  height: 75vh;
	  overflow: auto;
	  display: block;
	  margin: 0;
	  position: absolute;
	  /* bottom: 10px; */
    	top: 15vh;
	  right: 80px;
	  background-color: #fff;
	  border-radius: 15px;
	}

	.pagination .tableList {
		min-height: 250px;
		text-indent: 20px;
	}
	.tableList .objectBlock {
		display: flex;
		justify-content: space-between;
		position: relative;
		color: white;
		padding: 30px;
		margin-bottom: 10px;
		border-bottom: 1px solid #F9F9F9;
	}
	.pageButton {
		border: 1px solid Lightgray ;
		padding: 5px;
	}
	.clickPageNumber {
		background-color: white;
		padding: 5px;
		margin-left: 2px;
		margin-right: 2px;
		border:2px solid Lightgray ;
		color: #0077ff		;
	}
	.pagination-block {
	  text-align: center;
	  width: 100%;
		position: relative;
		top: 20px;
		margin-bottom: 50px;
	}
	.pagination-block span {
	  border-radius: 10%;
	  display: inline-block;
	}
	.pagination-block .pageButton {
	  border-radius: 10%;
	  background-color: white;
	  color:#0077ff	  ;
	}
	.pagination-block span:hover {
	  cursor: pointer;
	}
	.opacity {
	  opacity: 0.5;
	}
	.outline-none {
	  outline: none;
	  user-select: none;
	}

