body {
  background-color: #F9F9F9;
}

section {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.search-box {
  display: flex;
  width: calc(100% - 200px);
  justify-content: space-between;
  flex-direction: row;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  right: 80px;
  margin-top: 10px;
}

